<!DOCTYPE html>
<html>
<head>
	<title>404</title>
	<link rel="icon"  href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>
	<div class="main-content">
	{{>header}}
		<p>{{errorDescription}}<p/>
	</div>
	
	{{>footer}}
<script type="text/javascript" src="./js/app.js"></script>
</body>
</html>



